/* Header */
.big-container {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

/*Genric*/
.md-whiteframe-z1{
	max-width: 39em;
	padding: 2em;
	margin: 2em;
}
.md-primary{
	padding: 1em !important;
	width: 100%;
}
.md-primary a{
	text-decoration: none;
	font-size: 1em;
	font-weight: normal;
	color: white;
}
*::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

*::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.main-title {
	font-size: 2em;
	font-weight: 600;
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
@media only screen and (max-width : 768px) {
	.main-title {
		font-size: 3em;
	}
}

/*Cards*/
md-card{padding: 1em;margin: 1em;}

/*Background*/
.big-container {
	background-image: url('../img/bg.jpg');
}

md-card { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
} 
md-card { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}