@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')
Inter
/** * Reset some basic elements */
 body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
     margin: 0;
     padding: 0;
}
/** * Basic styling */
 html {
     box-sizing: border-box;
     font-size: 62.5%;
}
 body {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-weight: normal;
     font-size: 1.8rem;
     line-height: 1.6;
     color: #262626;
     background-color: #FFF;
     -webkit-text-size-adjust: 100%;
     -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
     font-feature-settings: "kern" 1;
     font-kerning: normal;
     -webkit-font-smoothing: antialiased;
}
 ::selection {
     background: #f7f7f7;
    /* WebKit/Blink Browsers */
}
 ::-moz-selection {
     background: #f7f7f7;
    /* WebKit/Blink Browsers */
}
/** * Images */
 img {
     width: 100%;
     height: auto;
     vertical-align: middle;
}
/** * Lists */
 ul {
     list-style: none;
}
 li > ul, li > ol {
     margin-bottom: 0;
}
 li p {
     margin-bottom: 0;
}
/** * Status icon system */
 .status-icon {
     height: 1.2rem;
     width: 1.2rem;
}
 .status-icon-external, .status-icon-link {
     background: url("../images/icon-arrow--direction.svg") no-repeat center center;
     -webkit-transform: rotateZ(-45deg);
     -ms-transform: rotateZ(-45deg);
     -o-transform: rotateZ(-45deg);
     transform: rotateZ(-45deg);
}
 .status-icon-favorite {
     background: url("../images/icon-heart--filled.svg") no-repeat center center;
     -webkit-transform: rotateZ(-45deg);
     -ms-transform: rotateZ(-45deg);
     -o-transform: rotateZ(-45deg);
     transform: rotateZ(-45deg);
}
 .status-icon-lock {
     background: url("../images/icons8-lock.svg") no-repeat center center;
/*     -webkit-transform: rotateZ(-45deg);
     -ms-transform: rotateZ(-45deg);
     -o-transform: rotateZ(-45deg);
     transform: rotateZ(-45deg);*/
}
 .status-icon-direction {
     background: url("../images/icon-arrow--default.svg") no-repeat center center;
}
 .status-icon-mail {
     background: url("icons/icon-mail.svg") no-repeat center center;
}
 .status-icon-mail-white {
     background: url("../images/icon-mail-white.svg") no-repeat center center;
}
 .status-icon-bookmark {
     background: url("icons/icon-bookmark--filled.svg") no-repeat center center;
}
 .status-icon-new {
     width: 2.5rem;
     background: url("../images/icon-label--new.svg") no-repeat center center;
}
/** * Headings */
 h1, h2, h3, h4, h5, h6 {
     font-weight: normal;
}
 h1 {
     font-family: "Inter", sans-serif;
     font-size: 3rem;
     font-weight: 500;
}
 @media screen and (max-width: 39rem) {
     h1 {
         font-family: "Inter", sans-serif;
         font-size: 2.4rem;
         font-optical-sizing: auto;
    }
}
 h2 {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-weight: bold;
     font-size: 2rem;
}
 h3 {
     font-family: "Inter", sans-serif;
     font-weight: bold;
     font-size: 2.2rem;
}
 h4, h5, h6 {
     font-family: "Inter", sans-serif;
     font-weight: normal;
     font-size: 1.8rem;
}
 h5, h6 {
     color: gray;
}
 a:link {
     position: relative;
     text-decoration: none;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     padding: 0.2rem 0.6rem;
     color: inherit;
     background: rgba(38, 38, 38, 0.05);
     border-radius: 0.2rem;
     -webkit-transition: all 0.2s ease;
     transition: all 0.2s ease;

}
 a:hover, a:visited {
     color: inherit;
    /*background: rgba(38, 38, 38, 0.1);
    */
     -webkit-transition: all 0.2s ease;
     transition: all 0.2s ease;
}
 a.button {
     position: relative;
     display: inline-flex;
     align-items: center;
     text-align: center;
     font-size: 1.6rem;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     border: none;
     padding: 0.75rem 1.875rem 0.9375rem;
     border-radius: 0.2rem;
     background: rgba(38, 38, 38, 0.1);
     cursor: pointer;
}
 @media screen and (max-width: 39rem) {
     a.button {
         justify-content: space-between;
         width: calc(100% - 3.75rem);
    }
}
 a.button--bright {
     color: #262626;
     background: #FFF;
}
 a.button--green {
     color: #FFF;
     background: #6BBD2E;
}
 a.button--combo {
     margin: 1rem 1rem 0 auto;
}
 a.button--combo .status-icon {
     margin-left: 1rem;
     -webkit-transition: transform 0.15s;
     transition: transform 0.15s;
}
 a.button--combo:hover .status-icon-external {
     transform: translateX(0.3rem) translateY(-0.3rem) rotate(-45deg);
     -webkit-transition: transform 0.2s;
     transition: transform 0.2s;
     -webkit-transition-delay: 0.3s;
     transition-delay: 0.3s;
}
 a.button--combo:hover .status-icon-mail, a.button--combo:hover .status-icon-direction {
     transform: translateX(0.3rem) translateY(0) rotate(0);
     -webkit-transition: transform 0.2s;
     transition: transform 0.2s;
     -webkit-transition-delay: 0.3s;
     transition-delay: 0.3s;
}
 a.button.tiny {
     font-size: 1.2rem;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     padding: 0.6rem 1.875rem 0.75rem;
}
 a.button.highlight {
     color: #FFF;
     background: #6BBD2E;
}
/** * Clearfix */
 hr {
     margin: 1rem auto;
     border: 0;
     height: 0.1rem;
     background: #f7f7f7;
}
 blockquote {
     position: relative;
     height: auto;
     margin: calc(-3rem + -0.2rem) 0 1.5rem;
     color: gray;
     background: #f7f7f7;
     border-bottom-right-radius: 0.2rem;
     border-bottom-left-radius: 0.2rem;
     z-index: 200;
}
 blockquote p {
     padding: 1.5rem;
     margin-bottom: 0;
     text-align: center;
}
 @media screen and (max-width: 39rem) {
     blockquote {
         margin: calc(-1.5rem + -0.2rem) auto 3rem;
    }
}
 @media screen and (min-width: 67.5rem) {
     blockquote {
         width: 108rem;
         margin-left: -27rem;
    }
}
 @media screen and (min-width: 67.5rem) {
     blockquote.portrait {
         height: auto;
         width: 100%;
         margin: 3rem auto;
    }
}
 i, em {
     font-style: normal;
     padding-bottom: 0.2rem;
     border-bottom: #349C89 solid 0.2rem;
}
 b, strong {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-weight: normal;
     padding: 0.2rem 0.3rem;
     background: #ffda08;
}
 b.green, strong.green {
     color: #FFF;
     background: #6BBD2E;
}
 b.red, strong.red {
     color: #FFF;
     background: #FF433E;
}
 b.tooltip, strong.tooltip {
     position: relative;
     display: inline-block;
     cursor: help;
}
 @media screen and (max-width: 39rem) {
     b.tooltip, strong.tooltip {
         cursor: auto;
    }
}
 b.tooltip span, strong.tooltip span {
     visibility: hidden;
     position: absolute;
     z-index: 1;
     bottom: 125%;
     left: 0;
     min-width: 6rem;
     min-width: 18rem;
     font-size: 1.2rem;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     color: #FFF;
     background: #262626;
     padding: 1rem 1.5rem;
     border-radius: 0.2rem;
     opacity: 0;
     -webkit-transition: opacity 0.3s ease-out;
     transition: opacity 0.3s ease-out;
}
 @media screen and (max-width: 39rem) {
     b.tooltip span, strong.tooltip span {
         display: none;
    }
}
 b.tooltip:hover span, strong.tooltip:hover span {
     visibility: visible;
     opacity: 1;
     -webkit-transition: opacity 0.3s ease-out;
     transition: opacity 0.3s ease-out;
}
 a#top-nav {
     position: fixed;
     top: 0;
     display: inline-block;
     text-align: center;
     width: 100%;
     padding: 1.5rem 0 1.5rem;
     background: white;
     border-bottom: 0.1rem solid #f7f7f7;
     z-index: 9999;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     transition: all 0.3s ease;
}
 a#bottom-nav {
     position: relative;
     top: 0;
     display: inline-block;
     text-align: center;
     width: 100%;
     padding: 1.5rem 0 1rem;
     background: transparent !important;
     border-top: 0.1rem solid #f7f7f7;
}
 .site-footer {
     margin-top: 3rem;
     padding: 3rem 0;
     font-size: 1.4rem;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     color: gray;
     text-align: center;
}
 .container {
     position: relative;
     max-width: 60rem;
     margin-right: auto;
     margin-left: auto;
     padding-left: 3rem;
     padding-right: 3rem;
}
 .container_ovr {
     max-width: 84rem;
 }
 .hero {
     display: flex;
     flex-direction: row;
     padding: 12rem 0 0;
     margin: 0 auto 6rem;
}
 @media screen and (max-width: 39rem) {
     .hero {
         flex-direction: column;
         padding: 1.5rem 0 3rem;
         margin: 0 auto 3rem;
    }
}
 .hero span {
     display: inline-block;
}
 @media screen and (min-width: 39rem) {
     .hero span.move {
         margin-left: 1rem;
    }
}
 .hero h1 {
     margin: 2.8rem auto;
}
 .square--wrapper {
     bottom: 4.2rem;
     left: 26.4rem;
     height: 0.2rem;
     width: 0.2rem;
     opacity: 0;
     border: 0.2rem solid #ffda08;
     border-radius: 0.4rem;
     position: absolute;
     -webkit-animation: square--wrapper 24s 3;
    /* Safari 4.0 - 8.0 */
     animation: square--wrapper 24s 3;
     animation-delay: 12s;
}
 .square__line {
     position: absolute;
     width: 0%;
     height: 0.2rem;
     opacity: 1;
}
 .square__line--a {
     top: 2rem;
     right: auto;
     bottom: auto;
     left: 0;
     background: #ffda08;
     -webkit-animation: square--line-a 24s 3;
    /* Safari 4.0 - 8.0 */
     animation: square--line-a 24s 3;
     animation-delay: 12s;
}
 .square__line--b {
     top: auto;
     right: 0;
     bottom: 2rem;
     left: auto;
     background: #ffda08;
     -webkit-animation: square--line-b 24s 3;
    /* Safari 4.0 - 8.0 */
     animation: square--line-b 24s 3;
     animation-delay: 12s;
}
 .patterns--hero {
     position: absolute;
     z-index: -1;
     top: -11.7rem;
     left: 0.8rem;
}
 @media screen and (max-width: 39rem) {
     .patterns--hero {
         opacity: 0.4;
    }
}
 .patterns--dots {
     display: flex;
     flex-wrap: wrap;
     max-width: 90rem;
     max-height: 240px;
     overflow: hidden;
}
 .patterns .pattern--dot {
     height: 0.2rem;
     width: 0.2rem;
     margin: 0 2rem 2rem 0;
     background: #000000;
     border-radius: 0.3rem;
}
 .post-list {
     margin: 6rem auto;
}
 .post-list .row {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
}
 @media screen and (max-width: 39rem) {
     .post-list .row {
         flex-direction: column;
    }
}
 .post-list.no-decoration .post-item::before {
     display: none;
}
 .date {
     font-size: 1.4rem;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     color: #848484;
     text-transform: uppercase;
     letter-spacing: 0.1rem;
}
 .post-item {
     position: relative;
     padding: 0.75rem 0 0.75rem;
}
 .post-item :link {
     padding: 0;
}
 .post-item::before {
     content: '';
     position: absolute;
     top: -1.1rem;
     left: -1rem;
     width: calc(100% + 3rem/1.5);
     height: calc((100% + 3rem/1.5) + 0.2rem);
     background: transparent;
     border-radius: 0.2rem;
     -webkit-transition: all 0.2s ease;
     transition: all 0.2s ease;
}
 .post-item:hover::before {
     background: #f7f7f7;
     -webkit-transition: all 0.2s ease;
     transition: all 0.2s ease;
}
 .post-item:hover .action--icon {
     opacity: 1;
     -webkit-transition: opacity 0.2s ease;
     transition: opacity 0.2s ease;
}
 .post-item:hover .status-icon-lock {
     transform: translateX(-0.3rem) translateY(0) rotate(0);
     -webkit-transition: transform 0.2s;
     transition: transform 0.2s;
     -webkit-transition-delay: 0.3s;
     transition-delay: 0.3s;
}
 .post-item:hover .status-icon-external {
     transform: translateX(0.3rem) translateY(-0.3rem) rotate(-45deg);
     -webkit-transition: transform 0.2s;
     transition: transform 0.2s;
     -webkit-transition-delay: 0.3s;
     transition-delay: 0.3s;
}
 .post-item:hover .status-icon-direction {
     transform: translateX(0.3rem) translateY(0) rotate(0);
     -webkit-transition: transform 0.2s;
     transition: transform 0.2s;
     -webkit-transition-delay: 0.3s;
     transition-delay: 0.3s;
}
 .post-item .title {
     display: flex;
     flex-flow: row;
     align-items: baseline;
     justify-content: flex-start;
     font-size: 1.8rem;
     font-family: "Inter", sans-serif;
     font-weight: 500;
     font-optical-sizing: auto;
     color: #262626;
     margin-top: 0;
}
 .post-item .description {
     font-size: 1.6rem;
     font-family: "Inter", sans-serif;
     margin-top: 0.8rem;
}
 @media screen and (max-width: 39rem) {
     .post-item .description {
             width: 90%;
    }
}
 .post-item .status-icon {
     padding-right: 1.5rem;
     transform: translateX(0) rotate(inherit);
     -webkit-transition: transform 0.24s;
     transition: transform 0.24s;
}
 .post-item .external-link {
     position: absolute;
     bottom: -0.5rem;
     right: 0;
     font-size: 1.4rem;
     font-family: "Inter", sans-serif;
     color: gray;
     background: none;
}
 @media screen and (max-width: 39rem) {
     .post-item .external-link {
         display: none;
    }
}
 .post-item .external-link p {
     display: flex;
}
 .post-item .external-link .status-icon {
     opacity: 0.4;
}
 .post-item .external-link :hover .status-icon-link {
     transform: translateX(0.3rem) translateY(-0.3rem) rotate(-45deg);
     -webkit-transition: transform 0.24s;
     transition: transform 0.24s;
}
 .post-item ul {
     position: relative;
     display: flex;
     list-style: none;
     margin: 0;
     padding: 0;
     align-items: normal;
}
.post-item.top ul{
     align-items: start;
}
 .post-item ul .action--icon {
     z-index: 99;
     display: flex;
     align-items: center;
     position: absolute;
     top: 0;
     right: 0;
     height: 100%;
     width: 18rem;
     background-image: linear-gradient(to right, rgba(248, 247, 247, 0), #f7f7f7, #f7f7f7);
     opacity: 0;
     -webkit-transition: opacity 0.2s ease;
     transition: opacity 0.2s ease;
}
}
 @media screen and (max-width: 39rem) {
     .post-item ul .action--icon {
         width: auto;
         opacity: 1;
         background-image: none;
    }
}
 .post-item ul .action--icon .status-icon {
     margin: 0 auto 0 75%;
     opacity: 0.5;
}
 @media screen and (max-width: 39rem) {
     .post-item ul .action--icon .status-icon {
         margin: 0 auto;
    }
}
 .post-item ul li.cover {
     margin-right: 3rem;
}
 @media screen and (max-width: 39rem) {
     .post-item ul li.cover {
         display: none;
    }
}
.post-item figure {
     position: relative;
     display: inline-block;
     height: 8rem;
     width: 10rem;
     overflow: hidden;
     border-radius: 0.2rem;
     -webkit-transition: transform 0.6s;
     transition: transform 0.6s;
     margin: 0;
}
 .post-item figure svg {
     position: absolute;
     top: calc(50% - 11px);
     height: 22px;
     width: 100%;
}
 .post-item figure img {
     position: absolute;
     top: 50%;
     left: 50%;
     height: 100%;
     width: auto;
     transform: translateX(-50%) translateY(-50%);
     border-radius: 4px;
}
 .post-item.experience {
     padding-bottom: 0;
}
 .post-item.experience figure {
     height: 6rem;
     width: 6rem;
}
 .post-item.experience .role {
     font-size: 1.4rem;
     font-weight: 500;
     line-height: 1.2rem;
     margin-top: 0.6rem;
}
 .post-item.experience .description {
     font-size: 1.6rem;
     margin-bottom: 0;
}
 .post-item.note .author {
     color: #ababab;
     font-size: 1.2rem;
}
 .post-item.note .description {
     color: #262626;
     margin-bottom: 1rem;
}
 .post-header {
     margin: 12rem 0 6rem;
}
 @media screen and (max-width: 39rem) {
     .post-header {
         margin: 9rem 0 3rem;
    }
}
 .post-header figure {
     position: relative;
     height: 43rem;
     width: 54rem;
     margin: 0 auto;
     overflow: hidden;
     border-radius: 0.2rem;
}
 @media screen and (max-width: 39rem) {
     .post-header figure {
         height: 36rem;
         width: 100%;
         margin: 0 auto 3rem;
         border-radius: 0.2rem;
    }
}
 .post-header figure img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
     height: auto;
     width: 90%;
     margin: 0 auto;
}
 .post-infos {
     margin: 1.5rem 0 3rem;
     font-size: 1.6rem;
     font-family: "Inter", sans-serif;
}
 .post-infos__content {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
}
 .post-infos__child {
     padding: 0.75rem 0.3rem 0.75rem 0;
}
 .post-infos__child p:first-child {
     color: #ababab;
}
 .post-content {
     margin: 0 0 6rem;
}
 .post-content h2 {
     margin: 0 auto 0.5rem;
     font-weight: 600;
}
 .post-content h3, .post-content h4 {
     margin: 6rem auto 3rem;
}
 .post-content h5 {
     margin: 6rem auto 0;
}
 .post-content h6 {
     padding: 0 1.5rem;
     background: #f7f7f7;
}
 .post-content p {
     margin: 0 auto 1.5rem;
}
 .post-content ul {
     list-style: disc;
     padding-left: 1.5rem;
}
 .post-content li {
     font-size: 1.8rem;
     color: #262626;
     margin: 1.5rem auto 1.5rem;
}
 .post-content img {
     height: auto;
     width: 100%;
     margin: 3rem auto 1.5rem;
     border-radius: 0.2rem;
}
 @media screen and (max-width: 39rem) {
     .post-content img {
         margin: 0 auto;
    }
}
 @media screen and (min-width: 67.5rem) {
     .post-content img {
         width: 108rem;
         margin-left: -27rem;
    }
}
 @media screen and (min-width: 67.5rem) {
     .post-content img.portrait {
         height: auto;
         width: 100%;
         margin: 3rem auto;
    }
}
/*Over-ride*/
 .shelf_class{
     border: 24px solid black;
     width: 50%;
     border-top: 0;
     border-right: 0;
}
 .p-l-0{
    padding-left: 0;
}
 .link_fix{
     cursor: pointer;
     background: transparent !important;
     color: #349C89 !important;
}
 .link_fix i{
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
     cursor: pointer;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     background: transparent !important;
}
 .link_fix::selection {
     background: white !important;
}
 .link_fix:hover i{
     border-bottom: #349C89 solid 0.6rem;
}
 .hotlinks{
     font-size: 18px;
     margin-right: 24px;
     display: inline-block;
     min-width: 72px;
     min-height: 48px;
}
 .d i{
     border-bottom: #E64885 solid 0.2rem;
     color: #E64885;
}
 .m i{
     border-bottom: #0157FF solid 0.2rem;
     color: black;
}
 .l i{
     border-bottom: #0371AE solid 0.2rem;
     color: #0371AE;
}
 .t i{
     border-bottom: #28A5DB solid 0.2rem;
     color: #28A5DB;
}
 .d:hover i{
     border-bottom: #E64885 solid 0.6rem;
}
 .m:hover i{
     border-bottom: #0157FF solid 0.6rem;
}
 .l:hover i{
     border-bottom: #0371AE solid 0.6rem;
}
 .t:hover i{
     border-bottom: #28A5DB solid 0.6rem;
}
 .center{
    text-align: center;
}
 .ixi_spl img{
     width: 100%;
     margin: auto;
}
 .l-2{
     line-height: 2;
}
 k {
     font-weight: 900;
}
 .ski-pill {
    background-color: #ffda08;
    padding: 0px 13px;
    line-height: 30px;
    margin-right: 6px;
    margin-bottom: 5px;
    border-radius: 2px;
    color: #404040;
    font-size: 14px;
    display: inline-block;
    font-weight: 500;
}
.post-img {
  text-align: center;
  margin: auto;
  width: 100%;
}
.post-img img{
  width: 100%;
  margin: auto;
}
.bordered-i{
  border: 1px solid #ffda08;
  padding: 4px;
  margin: 6px;
  margin: 6px 0;
  display: block;
}
.border-frame {
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid #ffda08;
}

/*Contact button*/
.gfq-wrap {
    z-index: 9999999;
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.gfq-badge {
    background: #71C28E; /*Change this colour to change the circle*/
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
    transition: all 0.1s ease-in-out;
    transform: scale(1.0);
    float: right;
}
.gfq-badge img {
    position: relative;
    left: 50%;
    transform: translate(-50% ,-50%);
    top: 40%;
    border: none!important;
    width: 50%!important;
}
.gfq-badge:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.gfq-panel {
    min-width: 320px; /*Panel width*/
    height: auto; /*Panel height*/
    max-width: 400px; /*Mac Panel width*/
    max-height: 800px; /*Max Panel height*/
    background: #F9FAFA;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.10);
    position: absolute;
    bottom: 40px;
    right: 0px;
    transition: all 0.3s ease-in-out;
    border-radius: 16px;
    overflow: hidden;
    border:1px solid #D9E0E3;
    display: none;
}
.panel-active {
    bottom: 80px;
    display: block;
}
.gfield.no-label > .gfield_label {
    display: none;
}
.gfq-panel input[type="submit"] {
    width:100% 
}

.slider_par .void_slider_img{
    width: 100% !important;
    height: auto !important;
    margin: auto !important;
}

/* nav */

.controls { text-align: center; }
.controls li {
  display: block;
  position: absolute;
  top: 50%;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s;
}
.controls li img { display: inline-block; vertical-align: middle; }
.controls .prev { left: 0; }
.controls .next { right: 0; }
.controls li:hover { background: #f2f2f2; }

.tns-controls { text-align: center; margin-bottom: 10px; }
.tns-controls [aria-controls] {
    font-size: 15px;
    margin: 0;
    padding: 0 1em;
    line-height: 0;
    height: 1.2em;
    width: 1.2em;
    background: #66ccff00;
    border-radius: 3px;
    border: 0;
    text-align: center;
}
.lt-ie9 .tns-controls > [aria-controls] {
  line-height: 2.5em;
}
[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}
.tns-controls [disabled] { 
  color: #999999;
  background: #B3B3B3; 
  cursor: not-allowed !important;
}
.tns-nav {
  text-align: center;
  margin: 10px 0;
}
.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}
.tns-nav > .tns-nav-active { background: #999; }
.playbutton-wrapper { text-align: center; }
.playbutton-wrapper button { height: 34px; padding: 0 10px; font-size: 14px; background: #fff; border-radius: 3px; border: 1px solid  #ccc; cursor: pointer; }
.wrapper { padding: 0 5em; }
.suite-container .title, 
.suite-container .subtitle, 
.suite-container li { padding: 5px 10px; }
.suite-container li {
  font-size: 12px;
  line-height: 1.4;
  background: #f5f5f5;
}
.tns-item img {
    opacity: 0;
}
.tns-slide-active img {
    opacity: 1;
}
/*Quick jugad*/
.jugad_1{
    position: absolute;
    z-index: 999;
}
.jugad_2{
    overflow: visible !important;
}
.jugad_3{
    opacity: 0;
}

.my_vid{
    width: 100%;
    height: 420px;
    margin: 23px 0;
}
.tvideos {
    text-align: center;
}
.tvideos .my_vid{
    width: auto;
    padding: 8px;
}

.ol {
    counter-reset: item;
}
.thumb{
    margin-left: 0;
    width: 100px;
}

.ol > li {
    counter-increment: item;
}

.ol ol > li {
    display: block;
}

.ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: 0px;
}

/*Color ORL sinpitt here*/

.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  opacity: 0.2;
}
:root {
  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  --font-family: "Inter", sans-serif;

  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
}
.text-gradient {
  font-weight: 700;
  background-image: linear-gradient(
    45deg,
    var(--base) 25%,
    var(--complimentary2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.hide {
    display: none !important;
}

.outter_box {
/*    background-image: url("../images/bg_rb.png");*/
    background-size: 100%;
    transform-style: preserve-3d;
    transform: perspective(1600px);
    height: 40rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    background-repeat: no-repeat;
}
 @media screen and (max-width: 39rem) {
     .outter_box {
         height: 28rem;
         width: 100%;
         margin: 0 auto 3rem;
         border-radius: 0.2rem;
    }
    .outter_box .inner_box {
        box-shadow: none !important;
    }
}

.outter_box .inner_box {
    background-image: url("../images/me_rb.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translateZ(100px) translateX(-50%) translateY(-50%);
/*    box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);*/
}


/*Spline*/

.spline-3d {
    border-radius: 16px;
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 100%;
    width: 100%;
}

.trg_cnt {
    cursor: pointer;
}